@import '_vars';

.incomeCategory {
    display: flex;
    justify-content: space-between;

    li {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            padding: 0;
            margin: 10px;
            text-align: center;
        }
        
        p:nth-child(2) {
            color: $purpleBlue;
            font-weight: 700;
        }
    } 
}

.incomeEntries {
    ul li {
        display: flex; 
        justify-content: space-between;

        p:firs
    }
}