.incomeCategory {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            padding: 0;
            margin: 10px;
            text-align: center;
            font-weight: 700;
        }
        
        p:nth-child(2) {
            color: $grey;
            border-bottom: 1px dashed $mint;
            font-weight: 700;
        }
    } 
}

.incomeEntries {
    ul li {
        display: flex; 
        justify-content: space-between;
        align-items: center;

        p:first-child {
            font-weight: 700;
            font-size: 20px;
        }

        .date {
            opacity: 0.6;
        }
    }

    li {
        border-bottom: 1px solid $mint;
        .amount {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .incomeAmount {
        display: flex; 
        justify-content: space-between;
        button {
            padding: 0 10px;
            margin-left: 10px;
            border: 1px dashed $mint;
            border-radius: 20px;
        }
    }
}