main {
  
  .individualSection{ 
    display: flex;
    justify-content: space-between;
    .incomeSection, .expenseSection {
      box-shadow: $mint 0px 8px 24px;
      padding: 20px;
    }

    .incomeSection {
      width: 50%;
      margin-right: 40px;
    }

    .expenseSection {
      width: calc(50% - 50px);
    }
  }

  .summarySection {
    box-shadow: $mint 0px 8px 24px;
    padding: 50px 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .pieChart {
    height: 500px;
    width: auto;
  } 
}