$orange: #F47660; 
$darkblue :#0081a7; 
$green: #61CDBB;
$lightorange: #ff773c;
$purpleBlue : #4048cc;
$red: #ff1d3d;
$purple: #7649a6;
$lightBlue: #dfecfe;
$yellow: #e39d61;
$navy: #020C1B;
$mint: #65FFDA;
$primaryFont: 'Poppins',sans-serif;

