$orange: #F47660; 
$darkblue :#0081a7; 
$green: #61CDBB;
$lightorange: #fed9b7;
$purpleBlue : #4048cc;
$red: #ff1d3d;
$purple: #7649a6;
$lightBlue: #dfecfe;
$yellow: #e39d61;
$primaryFont: 'Poppins',sans-serif;

