@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main .individualSection {
  display: flex;
  justify-content: space-between;
}
main .individualSection .incomeSection, main .individualSection .expenseSection {
  box-shadow: #65FFDA 0px 8px 24px;
  padding: 20px;
}
main .individualSection .incomeSection {
  width: 50%;
  margin-right: 40px;
}
main .individualSection .expenseSection {
  width: calc(50% - 50px);
}
main .summarySection {
  box-shadow: #65FFDA 0px 8px 24px;
  padding: 50px 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .summarySection p {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
}
main .pieChart {
  height: 500px;
  width: auto;
}

.incomeCategory {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.incomeCategory li {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.incomeCategory li p {
  padding: 0;
  margin: 10px;
  text-align: center;
  font-weight: 700;
}
.incomeCategory li p:nth-child(2) {
  color: #CCD6F6;
  border-bottom: 1px dashed #65FFDA;
  font-weight: 700;
}

.incomeEntries ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.incomeEntries ul li p:first-child {
  font-weight: 700;
}
.incomeEntries ul li .date {
  opacity: 0.6;
}
.incomeEntries li {
  border-bottom: 1px solid #65FFDA;
}
.incomeEntries li .amount {
  font-weight: 700;
}
.incomeEntries .incomeAmount {
  display: flex;
  justify-content: space-between;
}
.incomeEntries .incomeAmount button {
  padding: 0 10px;
  margin-left: 10px;
  border: 1px dashed #65FFDA;
  border-radius: 20px;
}

.incomeForm button {
  border: 1px dashed #65FFDA;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.expenseInput button {
  border: 1px dashed #65FFDA;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.expenseCategory ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.expenseCategory ul li {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expenseCategory ul li p {
  padding: 0;
  margin: 10px;
  text-align: center;
  font-weight: 700;
}
.expenseCategory ul li p:nth-child(2) {
  color: #CCD6F6;
  font-weight: 700;
  border-bottom: 1px dashed #65FFDA;
}

.expenseEntries ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expenseEntries ul li p:first-child {
  font-weight: 700;
}
.expenseEntries ul li .date {
  opacity: 0.6;
}
.expenseEntries li {
  border-bottom: 1px solid #65FFDA;
}
.expenseEntries li .amount {
  font-size: 18px;
}
.expenseEntries .expenseAmount {
  display: flex;
  justify-content: space-between;
}
.expenseEntries .expenseAmount button {
  padding: 0 10px;
  margin-left: 10px;
}

.expenseContainer {
  display: flex;
  flex-wrap: wrap;
}
.expenseContainer div:first-child {
  margin-right: 30px;
}

@media (max-width: 940px) {
  main .individualSection {
    flex-direction: column;
  }
  main .individualSection .incomeSection {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  main .individualSection .expenseSection {
    width: 100%;
  }
}
@media (max-width: 480px) {
  h1 {
    padding: 0;
  }
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #020C1B;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input, option, select, button {
  font-family: "Poppins", sans-serif;
  background: none;
  color: white;
  font-weight: 500;
}

.wrapper {
  margin: 50px auto;
  width: 90%;
  max-width: 1280px;
}

img {
  max-width: 100%;
}

.logo {
  width: 60px;
  height: auto;
}

span {
  display: inline-block;
  margin-left: 20px;
}

h1 {
  color: #65FFDA;
  margin-top: 20px;
  padding: 0 20px;
}

h2 {
  color: #61CDBB;
  font-size: 30px;
}

h3 {
  color: #61CDBB;
  font-size: 25px;
}

select {
  border: none;
  border-bottom: 2px solid #0081a7;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 200px;
}

label {
  display: block;
  margin-bottom: 10px;
  width: 200px;
}

input {
  border: 1px dotted #61CDBB;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
}

footer {
  margin-top: 40px;
}/*# sourceMappingURL=App.css.map */