@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import  '_setup';

body {
  padding: 0 100px;
  max-width: 1280px;
  background-color: #3C3147;
  color: white;
  margin: 0; 
  padding: 0 100px;
  font-family: 'Poppins',sans-serif;
}

input, option, select, button {
  font-family: 'Poppins',sans-serif;
}

.wrapper {
  margin: 0 auto;
}

img {
  max-width: 100%;
}

span {
  display: inline-block;
}

.logo {
  width: 40px; 
  height: auto;
  margin-right: 20px;
}

form {
  display: flex; 
  flex-direction: column;
  button {
    width: 200px;
  }
}

label {
  margin-right: 10px;
  width: 200px;
}

select, .category, input {
  width: 200px;
  height: 30px;
}

.incomeSection {
  border: 2px solid red;
}

.expenseSection {
  border: 2px solid blue;
}

.expenseForm {
  border: 2px solid white;
}






