@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import  '_setup';
@import '_vars';
@import '_incomeDisplay';
@import '_incomeForm';
@import '_expenseForm';


body {
  font-family: $primaryFont;
  background-color: $navy;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input, option, select, button {
  font-family: 'Poppins',sans-serif;
  background: none;
  color: white;
  font-weight: 500;
}

.wrapper {
  margin: 50px auto;
  width: 90%;
  max-width: 1280px;
}


img {
  max-width: 100%;
}

.logo {
  width: 40px; 
  height: auto;
}

span {
  display: inline-block;
  margin-left: 20px;
}

h1 {
  color: $mint;
  margin-top: 20px;
  padding: 0 20px;
}


h2 {
  color: $green;
  font-size: 30px;
}

h3 {
  color: $green;
  font-size: 25px;
}

select {
  border: none;
  border-bottom: 2px solid $darkblue;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 200px;
}

label {
  display: block;
  margin-bottom: 10px;
  width: 200px;
}

input {
  border: 1px dotted $green;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
}

main {
  display: flex;
  justify-content: space-between;
  .incomeSection, .expenseSection {
    box-shadow: $mint 0px 8px 24px;
    padding: 20px;
  }

  .incomeSection {
    width: 50%;
    margin-right: 40px;
  }

  .expenseSection {
    width: calc(50% - 40px);
  }


  .pieChart {
    height: 500px;
    width: auto;
  }
  
}








