@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import  '_setup';
@import '_incomeDisplay';

body {
  background-color: #3C3147;
  color: white;
  font-family: 'Poppins',sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input, option, select, button {
  font-family: 'Poppins',sans-serif;
}

.wrapper {
  margin: 0 auto;
  border: 2px solid red;
  width: 90%;
  max-width: 1280px;
}

img {
  max-width: 100%;
}

.logo {
  width: 40px; 
  height: auto;
  margin-right: 20px;
}



.expenseForm {
  border: 2px solid white;
}

main {
  display: flex;
  justify-content: space-between;
  .incomeSection, .expenseSection {
    width: calc(50% - 20px);
  }

  .expenseSection {
    border: 2px solid blue;
    margin-left: 20px;
  }
}








